:root{
    --maincolor:#DB4444 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    /* border: solid red; */
}
.containerr{
    width: 80%;
    margin-left: 10%;
    margin-right: -20%;
    padding-left: 2rem;
    padding-right: 2rem;
    /* border: solid red;  */
    margin-top: 2%; 
}
.black-slid{
    display: flex;
    background-color: black;
    color: white;
    height: 40px;
    padding-top: 10px;
}
.language{
    display: flex;
    padding-left: 15%;
}

.discount {
    display: flex;
    padding-left: 35%;
}
.discount a{
    color: white;
    padding-left: 10px;
}
nav{
    display: flex;
    margin:  2% 10% 1% 10%;
    justify-content: space-between;
}
.search input{
    background-color: rgb(239, 239, 239);
    margin-left: 5%;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    border: none;
    position: relative;
    width: 260px;
}
.search i{
    position: absolute;
    top: 80px;
    right: 300px;
}
nav ul{
  list-style: none;  
  display:flex;

}
nav ul li{
    padding-top: 10px;
    padding-left: 48px;
}
nav h1{
    margin-right: 15%;
    padding-top: 10px;
}

nav p i {
    padding-left: 60px;
}
.nav-icon{
    padding-left: 10px;
    font-size: larger;
    padding-top: 10px;
}
header a{
    text-decoration: none;
    color: black;
}
header .selected{
    border-bottom: 1px #7D8184 solid;
}
/* //////////////////////////////// */
.all{
    gap: 75px;
    display: flex;
}
.left_Parg  {
  margin-top: 30%;
}
.left_Parg h1{
    padding-bottom: 40px;
    font-size: 54px;
}
.left_Parg p{
    padding-bottom: 24px;
}
.bink{
    width: 740px;
    height: 609px;
    margin-right: -196px;
    margin-top: 140px;
}
.icons .border{
        margin: 10px 73px;
        border:  10px solid #828282;
        height: 80px;
        width: 80px;
        border-radius: 100%;
}


.icons{
    display: flex;
    padding: 140px 0;
    gap: 30px;
    text-align: center;
}

.icon1{
    border: 1px solid #bebbbb;
    margin: 10px;
    padding: 32px 0;
    width: 270px;
    height: 230px;
}

.type-circle{
    font-size: 10px;
    color: #7D8184;
text-align: center;
padding-top: 174px;
padding-bottom: 140px;
}
.a a{
 text-decoration: none;
padding-left: 30px;
 margin-top: 50px;
 padding-top: 60px;
 color: black;
 justify-content: center;
}
.photos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}
.photo{
    width: 370px;
    height: 430px;
    background-color: #d4d4d4;
    text-align: center;
}
.photos .links-p{
    font-size: 20px;
    padding-top: 20px;
}

/* ---------------- */
.all-icons{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.icon p {
    font-size: 13px;
}
.border{
    margin: 24px 70px;
    border:  10px solid #828282;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.background{
    background-color:black;
    height: 61px;
    width: 62px;
    border-radius: 100%;
    padding: 15px;
}
.icon1 i {
    color: white;
}
.icon1:hover{
    background-color: var(--maincolor);
    color: white;
}
.background:hover{
    background-color: white;
}
i:hover{
    color: #000;
}
.background i{
    font-size:25px;
}
.written H4{
    padding-bottom: 8px;
}

/* ------------------------------------- */
/* footer start */
a{
    text-decoration: none;
}
footer{
    height: 440px;
width: 1510px;
}
.footer{
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 80px;
    align-items:center;
    margin-top: 140px;
}
.parfan-img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 31px;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 22px;
}
.left-side-under{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer{
    background-color: #000000;
    padding-top: 1%;
    padding-bottom: 1%;
}
.links{
    color: #FAFAFA;;
    line-height: 2.9;
}
.links a{
    color: #FAFAFA;;
}
form input{
    background-color: transparent;
    border: 2px solid #FAFAFA;;
    padding: 10px 7px 10px 10px;
    border-radius: 4px;
    color: #FAFAFA;;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 3px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 24px;
}
.footer .Copyright{
    color: rgb(84, 81, 81);
    padding-top: 2%;
    padding-bottom: 24px;
    font-weight: 400;
    text-align: center;
}
.links-save{
    color: rgb(139, 132, 132);
    font-size: 12px;
}
.links-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.Qrcode{
height: 85px;
width: 85px;
}
.imag-store{
    border: 0.5px rgb(122, 119, 119) solid;
    height: 30px;
    width: 104px;
    border-radius: 4px;
}
/* footer end */


