:root{
  --maincolor:#DB4444 ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* --------------------------- */
.containerr{
  width: 80%;
  margin-left: 10%;
  margin-right: -20%;
  padding-left: 2rem;
  padding-right: 2rem;
  /* border: solid red;  */
  margin-top: 2%; 
}
header a{
  text-decoration: none;
  color: black;
}
.black-slid{
  display: flex;
  background-color: black;
  color: white;
  height: 40px;
  padding-top: 10px;
}
.language{
  display: flex;
  padding-left: 15%;
}
.discount {
  display: flex;
  padding-left: 35%;
}
.discount a{
  color: white;
  padding-left: 10px;
}
nav{
  display: flex;
  margin:  2% 10% 1% 10%;
  justify-content: space-between;
}
.search input{
  background-color: rgb(239, 239, 239);
  margin-left: 5%;
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
  border: none;
  position: relative;
  width: 260px;
}
.search i{
  position: absolute;
  top: 80px;
  right: 300px;
}
nav ul{
list-style: none;  
display:flex;

}
nav ul li{
  padding-top: 10px;
  padding-left: 48px;
}
nav h1{
  margin-right: 15%;
  padding-top: 10px;
}

nav p i {
  padding-left: 60px;
}
.nav-icon{
  padding-left: 10px;
  font-size: larger;
  padding-top: 10px;
}
/* ---------------------- */

:root {
  --basiccolor: #828282;
}


.li-first{
    display: inline;
    padding-right: 12px;
    font-size: 18px;
    margin-bottom: 80px;

}


.F-section {
  margin-top: 80px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  margin-left: -32px;
  margin-right: -32px;

}

.smal-img {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.img img {
  height: 100px;
  width: 130px;
  margin: 15px;
}

.img {
  background-color: #f5f5f5;
  align-items: center;
  padding: 10px;
}

.big-img {
  width: 500px;
  background-color: #f5f5f5;
  padding-top: 200px;
  padding-left: 35px;
}
button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.big-img img {
  width: 446px;
  height: 315px;
}

.buying {
  width: 400px;
}

.star {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.P {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 50%;
}

.cycle {
  border: 3px solid;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 1.5px;
}

.background1 {
  background-color: #a0bce0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.background2 {
  background-color: #e07575;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.size {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.s-divs {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.small-part {
  border: 1px solid;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  margin-right: 15px;
  font-weight: 500px;
  
}
.Different{
    background-color: var(--maincolor);
    color: white;
}

.small-part:hover {
  background-color: var(--maincolor);
  color: white;
}

.button {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.Different-i{
    background-color: var(--maincolor);
    color: white;
    padding: 17px;
    border-radius: 1px;
}

.b1 {
  width: 35%;
  height: 60px;
  background-color: transparent;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
}


.right-div .b1:hover {
  background-color:var(--maincolor);
}


.pr {
  padding-top: 13px;
  width: 100px;
  height: 60px;
  font-size: 25px;
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;

  /* border: 1px solid; */
}

.right-div {
  display: flex;
  justify-content: flex-start;
  border: 1px solid;
  border-radius: 4px;
  width: 40%;
  height: 60px;
}

.b2 {
  background-color: var(--maincolor);
  color: white;
  width: 40%;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.icon1 {
  border: 1px solid;
  padding: 15px;
  width: 60px;
  height: 60px;
  padding-top: 15px;
  border-radius: 4px;
}
.box_all{
    border: 1px solid;
    border-radius: 4px;
}
.last-div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 128px;
  margin-bottom: 0px;
}
.Different-box{
    border-bottom: 1px solid;
}
.write {
  width: 330px;
  padding: 5px;
  margin-left: 5px;
}

.icon2 {
  padding-left: 3px;
  text-align: center;
}

.last-div .write h4 {
  margin-bottom: 10px;
}

.buy2 {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: black;
  color: #f5f5f5;
  width: 100%;
  align-items: center;
  bottom: 0%;
  padding: 5px;
}

.buy2 button {
  border: none;
  background-color: transparent;
  color: #f5f5f5;
}

/* =------------------------------------------------ */
.product{
  background-color: lightgrey;
  position: relative;
  margin-right: 30px;
  border-radius: 5px;
  margin-top: 30px;
  width: 250px;
  height: 270px;

}
.f-sales{
  display: flex;
  flex-wrap: nowrap;

}
.heart{
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 100%;
}
.eye{
  position: absolute;
  top: 55px;
  right: 12px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 100%;
}
.red-dis{
  background-color: red;
  color: white;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 10px;
  border-radius: 15%;
}
.add-ch{
  position: absolute;
  bottom: 0;
  background-color: black;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  padding-top: 8px;
}
.chart{
  background-color: lightgrey;
  position: relative;
  padding: 49px 55px;
  margin-right: 30px;
  border-radius: 5px;
  margin-top: 30px;
}
.detali1 {
  width: 285px;
}
.detali1 i{
  color: #ffad33;
}
.detalis{
  display: flex;
  flex-wrap: nowrap;
}
.detali1 p{
  width: 300px;
  padding-top: 12px;
}
.detali1 p span{
  color: #7D8184;
}
.detali1 .price{
  color: red;
}

/* footer start */
a{
  text-decoration: none;
}
footer{
  height: 440px;
width: 1510px;
margin-top: 140px;

}
.footer{
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 80px;
  align-items:center;
}
.parfan-img{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
  margin-bottom: 31px;
}
.left-side{
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 22px;
}
.left-side-under{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer{
  background-color: #000000;
  padding-top: 1%;
  padding-bottom: 1%;
}
.links{
  color: #FAFAFA;;
  line-height: 2.9;
}
.links a{
  color: #FAFAFA;;
}
form input{
  background-color: transparent;
  border: 2px solid #FAFAFA;;
  padding: 10px 7px 10px 10px;
  border-radius: 4px;
  color: #FAFAFA;;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 3px;
}
.footer-links{
  display: flex;
  justify-content: space-between;
}
h5{
  font-size: 24px;
}
.footer .Copyright{
  color: rgb(84, 81, 81);
  padding-top: 2%;
  padding-bottom: 24px;
  font-weight: 400;
  text-align: center;
}
.links-save{
  color: rgb(139, 132, 132);
  font-size: 12px;
}
.links-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.Qrcode{
height: 85px;
width: 85px;
}
.imag-store{
  border: 0.5px rgb(122, 119, 119) solid;
  height: 30px;
  width: 104px;
  border-radius: 4px;
}
/* footer end */
